@charset "UTF-8";
//グレー
$gray: #727171;

//白
$white: #fff;

//メイン幅
$width: 1000px;

//囲み幅
$inner: 800px;

//画像パス
$url: '../img';

//ブレイクポイント iphone5
$ip5: "screen and (max-width:320px)";

//ブレイクポイント iphone6
$ip6: "screen and (min-width:321px) and (max-width:375px)";

//ブレイクポイント iphone6 plus
$ip6p: "screen and (min-width:376px) and (max-width:414px)";