@charset "UTF-8";
//グレー
$gray: #727171;

//白
$white: #fff;

//メイン幅
$width: 1000px;

//囲み幅
$inner: 800px;

//画像パス
$url: '../img';

//ブレイクポイント iphone5
$ip5: "screen and (max-width:320px)";

//ブレイクポイント iphone6
$ip6: "screen and (min-width:321px) and (max-width:375px)";

//ブレイクポイント iphone6 plus
$ip6p: "screen and (min-width:376px) and (max-width:414px)";

//エディター関連
@mixin editor{
    >*{
        margin: 0 0 20px 0;
        + h1,
        + h2,
        + h3,
        + h4{
            margin-top: 40px;
        }
    }
        h1{
            font-size: 2rem;
            line-height: 1.3;
            padding: 0 0 10px 30px;
            position: relative;
            border-bottom: 1px solid #727171;
            clear: both;
            &::before{
                content: "";
                width: 18px;
				height: 18px;
				position: absolute;
				left: 0;
				top: 4px;
				background: url(../img/icon_blog.svg) no-repeat left top / contain;
            }
        }
        h2{
            font-size: 1.8rem;
            line-height: 1.3;
        	padding-left: 24px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
				left: 0;
				top: 5px;
				width: 13px;
				height: 13px;
				background: #727171;
            }
        }
        h3{
            font-size: 1.6rem;
            line-height: 1.5;
            padding-left: 20px;
            position: relative;
            &::before{
				content: "";
				position: absolute;
				left: 0;
				top: 5px;
				width: 10px;
				height: 10px;
				border: 1px solid #727171;
            }
        }
        h4{
            font-size: 1.4rem;
            padding-left: 14px;
            position: relative;
            &::before{
				content: "・";
				position: absolute;
				left: 0;
				top: 0;
            }
        }
        ul,ol{
            margin-left: 20px;
            padding: 0;
        }
    blockquote{
        position: relative;
        margin: 2em 0;
        padding: 1.2em;
        font-size: .9em;
        border: 1px solid #CCC;
        border-radius: 2px;
        background: #FFF;
        box-shadow: 0px 1px 3px rgba(0,0,0,.2);
        word-break: break-all;
        &::before{
            position: absolute;
            top: 24px;
            left: 20px;
            font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
            content: '“';
            font-size: 80px;
            opacity: .2;
            line-height: 1;
        }
    }
    .alignleft{
        float: left;
        margin: 0 20px 20px 0;
        max-width: 50%;
    }
    .alignright{
        float: right;
        margin: 0 0 20px 20px;
        max-width: 50%;
    }
    
    .gallery{
        ul{
            list-style: none;
            letter-spacing: -0.4em;
            li{
                letter-spacing: 0;
                display: inline-block;
                padding-left: 0;
                text-align: center;
                vertical-align: top;
                box-sizing: border-box;
                &::before{
                    display: none;
                }
                p{
                    margin-top: 3px;
                    font-size: 1.2rem;
                    line-height: 1.3;
                }
            }
        }
        //カラム数
        $columns: 2, 3, 4, 5, 6, 7, 8, 9;
        @each $column in $columns{
            &.gallery-columns-#{$column}{
                li{
                    //calcが使えないブラウザ向け
                    //2カラム
                    @if $column == 2{
                        width: 49%;
                    }
                    //3カラム
                    @if $column == 3{
                        width: 32%;
                    }
                    //4カラム
                    @if $column == 4{
                        width: 23.8%;
                    }
                    //5カラム
                    @if $column == 5{
                        width: 18.8%;
                    }
                    //6カラム
                    @if $column == 6{
                        width: 15.4%;
                    }
                    //7カラム
                    @if $column == 7{
                        width: 13%;
                    }
                    //8カラム
                    @if $column == 8{
                        width: 11.2%;
                    }
                    //9カラム
                    @if $column == 9{
                        width: 9.8%;
                    }
                    
                    width: calc(100% / #{$column} - (10px * (#{$column} - 1)) / #{$column});
                    &:not(:nth-child(#{$column}n)){
                            margin-right: 10px;
                    }
                    &:not(:nth-child(-n + #{$column})){
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}