@charset "UTF-8";
@import "variables";

//著作権や使用に関するご注意
#attention{
	dl{
		&:not(:last-child){
			margin-bottom: 45px;
		}
		dt{
			text-align: center;
			font-size: 2rem;
			margin-bottom: 20px;
		}
		dd{
			line-height: 2;
			&.caution{
				font-size: 1.1rem;
				margin-top: 10px;
			}
		}
	}
}