@charset "UTF-8";
@import "variables";

//ノーマライズ
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,dl,dt,dd,ol,ul,li,table,th,td,p,dl,dt,dd,menu{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
	text-decoration: none;
	color: inherit;
	&:hover{
		text-decoration: underline;
	}
}
img{
	max-width: 100%;
	height: auto;
	border: none;
}

//初期設定
html{
	font-size: 62.5%;
}
body{
	font-size: 1.3em;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.6;
	color: $gray;
	background: url(#{$url}/bg.png) repeat;
}
input,
textarea{
	font-size: 1.3rem;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	vertical-align: middle;
	color: $gray;
}

//全体囲み
#main-container{
	width: $width;
	margin: 0 auto;
	background: $white;
	position: relative;
}
//囲み中
.container{
	width: $inner;
	margin: 0 auto;
}

//ヘッダー
#header{
	padding: 25px 0 20px 0;
	border-bottom: 1px solid $gray;
	margin-bottom: 25px;
	img{
		vertical-align: middle;
	}
	.logo{
		float: left;
		width: 230px;
	}
	menu{
		float: right;
	}
	ul{
		list-style: none;
		letter-spacing: -0.4em;
		font-size: 1.3rem;
		li{
			letter-spacing: 0;
			display: inline-block;
			&:not(:last-child){
				margin-right: 20px;
			}
			a{
				letter-spacing: 3px;
                &:hover{
                    opacity: .7;
                }
			}
			img{
				margin-right: 10px;
                height: 13px;
				width: auto;
                vertical-align: middle;
			}
            &.top{
                img{
                    //width: 52px;
                }
            }
            &.news{
                img{
                    //width: 62px;
                }
            }
            &.profile{
                img{
                    //width: 84px;
					height: 15px;
                }
            }
            &.contact{
                img{
                    //width: 95px;
					height: 11px;
                }
            }
            &.blog{
                img{
                    //width: 62px;
					height: 15px;
                }
            }
		}
	}
}

//パンくず
#pankuzu{
	font-size: 1.1rem;
	margin-bottom: 90px;
}

//コンテンツ部分
#contents{
	padding-bottom: 140px;
	border-right: 1px solid $gray;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		right: 220px;
		width: 1px;
		height: 100%;
		background: $gray;
	}
}

//サイドバー
#sidebar{
	float: right;
	width: 220px;
	padding: 0 30px 65px 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	> .box{
		&:not(:last-child){
			margin-bottom: 32px;
		}
		> .ttl{
			background: $gray url(../img/triangle_white.png) no-repeat right top / auto 100%;
			color: #fff;
			padding: 2px 10px;
			margin-bottom: 20px;
			letter-spacing: 2px;
		}
		//プロフィール
		&.profile{
			.photo{
				width: 120px;
				margin-bottom: 15px;
			}
			.name{
				font-size: 1.4rem;
				margin-bottom: 5px;
				.kana{
					font-size: .9rem;
					margin-left: 10px;
				}
			}
			.job{
				font-size: 1.1rem;
				margin-bottom: 5px;
			}
			.link{
				background: url(../img/icon_arrow.png) no-repeat left 3px / 11px 11px;
				padding-left: 15px;
				font-size: 1.1rem;
			}
		}
		//アーカイブ
		&.archive{
			.list{
				&:not(:last-child){
					margin-bottom: 10px;
				}
				.year{
					padding-left: 15px;
					cursor: pointer;
					position: relative;
                    margin-bottom: 5px;
					&::before{
						content: "";
						background: url(../img/icon_acordion_arrow.svg) no-repeat left top / contain;
						width: 11px;
						height: 11px;
						position: absolute;
						left: 0;
						top: 5px;
						transition: all .3s ease;
					}
					&.current{
						&::before{
							transform: rotate(90deg);
							-webkit-transform: rotate(90deg);
							-moz-transform: rotate(90deg);
						}
					}
				}
				ul{
					list-style: none;
					margin-left: 20px;
					display: none;
                    li{
                        &:not(:last-child){
                            margin-bottom: 3px;
                        }
                    }
				}
			}
		}
		//カテゴリー
		&.category{
			ul{
				list-style: none;
				li{
					&:not(:last-child){
						margin-bottom: 5px;
					}
				}
			}
		}
		//最新記事
		&.new{
			.post-list{
				list-style: none;
				font-size: 1.2rem;
				li{
					&:not(:last-child){
						margin-bottom: 10px;
					}
				}
			}
		}
		//サイト内検索
		&.search{
			dl{
				dt{
					font-size: 1rem;
				}
				dd{
					.wrap{
						display: table;
						width: 100%;
						border-collapse: collapse;
						.cell{
							display: table-cell;
							&:nth-child(1){
                                border: 1px solid $gray;
                            }
							&:nth-child(2){
								width: 24px;
								background: $gray;
                                border: 1px solid $gray;
							}
							input,
							button{
								display: inline-block;
							}
							input[type=text]{
								width: 100%;
                                border: none;
							}
							button{
								width: 100%;
								border: none;
								background: $gray;
								vertical-align: middle;
								line-height: 1;
								padding: 4.5px 2px;
								cursor: pointer;
								box-sizing: border-box;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								img{
									width: auto;
									height: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}
//ギャラリー
.hidden{
	display: none;
	.inline-box{
		width: 600px;
        .thumb{
            margin-bottom: 25px;
        }
		.ttl{
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
	}
}
.illust-box{
	position: relative;
	display: block;
    &:hover{
        .thumbnail{
            &::after{
                opacity: 1;
            }
            img{
                -webkit-filter:brightness(80%);
                -moz-filter:brightness(80%);
                filter:brightness(80%);
            }
        }  
    }
	.thumbnail{
		margin-bottom: 5px;
        position: relative;
        &::after{
            content: "";
            width: 30px;
            height: 30px;
            background: rgba(0,0,0,0.7) url(../img/icon_zoom.png) no-repeat left top / contain;
            position: absolute;
            left: 50%;
            top: 50%;
            opacity: 0;
            margin-left: -15px;
            margin-top: -15px;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
        img{
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
	}
	.ttl{
		font-size: 1.2rem;
	}
}
.illust-list{
	list-style: none;
	letter-spacing: -0.4em;
	li{
		letter-spacing: 0;
		display: inline-block;
		vertical-align: top;
		width: 240px;
		&:not(:nth-child(3n)){
			margin-right: 40px;
		}
		&:not(:nth-child(-n + 3)){
			margin-top: 40px;
		}
	}
}

//ページング
.wp-pagenavi{
	text-align: center;
	margin-top: 60px;
	span,a{
		font-size: 1.8rem;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		line-height: 1;
	}
	.nextpostslink,
	.previouspostslink{
		text-indent: -999em;
		overflow: hidden;
		width: 32px;
		height: 32px;
		border: 1px solid #727171;
		background-size: 12px 17px;
		background-position: center center;
		background-repeat: no-repeat;
		&:hover{
			opacity: 0.7;
		}
	}
	.nextpostslink{
		background-image: url(../img/icon_right.png);
		margin-left: 22px;
	}
	.previouspostslink{
		background-image: url(../img/icon_left.png);
		margin-right: 22px;
	}
	.page,
	.current{
		margin: 0 7px;
		padding: 0 10px 12px 10px;
		border-bottom: 2px solid #000;
	}
	.page{
		opacity: .4;
	}
	.current{
		color: #727171;
	}
	.extend{
		margin: 0 7px;
	}
}

//フッター
#pagetop{
	position: fixed;
	right: 100px;
	bottom: 10px;
	width: 38px;
	height: 38px;
	border-radius: 38px;
	background: $gray;
	box-sizing: border-box;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#footer{
	padding-bottom: 30px;
	small,
	.attention{
		display: inline-block;
		font-size: 1.2rem;
		vertical-align: middle;
	}
	small{
		margin-right: 35px;
	}
	.attention{
		background: url(../img/icon_arrow.png) no-repeat left 4px / 11px 11px;
		padding-left: 15px;
	}
}