@charset "UTF-8";
@import "variables";

//お問い合わせ
#contact{
	background: url(../img/image_contact.png) no-repeat center top;
	padding-top: 130px;
	.hissu{
		color: #E10003;
	}
	.form{
		width: 605px;
		margin: 0 auto;
		dl{
			display: table;
			width: 100%;
			border-collapse: separate;
			border-spacing: 5px;
			border: 1px solid $gray;
			&:not(:last-child){
				margin-bottom: 10px;
			}
			dt,dd{
				display: table-cell;
				box-sizing: border-box;
				vertical-align: top;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
			dt{
				border-right: 1px solid $gray;
				width: 130px;
				text-align: center;
				.hissu{
					float: right;
					margin-right: 5px;
					font-size: 1rem;
				}
			}
			dd{
				input,
				textarea{
					border: none;
					width: 100%;
				}
				textarea{
					height: 150px;
				}
			}
		}
		.submit{
			text-align: center;
			margin-top: 30px;
			input{
				width: 140px;
				display: inline-block;
				border: none;
				cursor: pointer;
				background: $gray;
				color: #fff;
				font-size: 1.6rem;
				text-align: center;
				border-radius: 40px;
				padding: 5px 10px;
				border: 2px solid #fff;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				&:hover{
					background: #fff;
					border-color: $gray;
					color: inherit;
				}
			}
		}
	}
}