@charset "UTF-8";
@import "variables";

//トップページ
#header{
	.logo{
		text-align: center;
		padding: 70px 0 30px 0;
		img{
			width: 75%;
			height: auto;
		}
	}
}
#menu{
	ul{
		li{
			border: none;
            font-size: 1.5rem;
		}
	}
}
#new{
    margin-bottom: 20px;
}
#contents{
    padding-top: 0;
}